body {
  background-color: lightpink;
}

h1 {
  color: purple;
  font-size: 200px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: cyan;
  border-width: 10px;
  width: 50%;
}
